.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media only screen and (min-width: 760px) {
    #infocard {
        margin-top: 50px;
    }
}
.paragraph {
    margin-left: 20px;
}

blockquote {
    font-family: monospace,monospace;
    font-size: 1em;
}